/* h1{
    text-align: center;
    color: violet;
}
p{
    color: red;
}
div{
    border: 5px solid black;
    margin:100px;
    padding:20px;
    height: 100px;
    width:800px;
} */

/* p{
    color:green;
    text-align: center;
}
div{
    height:200px;
    width:900px;
    border:5px solid black;
    text-align: center;
    padding:20px;
    margin:200px;

} */
 .outer{
    border:5px;
    height: 500px;
    width:800px;
    
 }
 .book{
    height:200px;
    width:150px;
    background-color: yellow;
 }
 .headphones{
    background-color: dark red;
    height:200px;
    width:150px;
 }
  