div{
    height: 200px;
    width: 900px;
    border:5px solid black;
    padding:15px;
    margin:100px;
}
p{
    text-align: center;
    font-size:medium;
    font-family:serif;
    border:20px solid blue;
    padding:15px;
    height:60px;
    width:700px;
    margin-left: 125px;
    background-color: yellow;
} 