.container{
    display:flex;
    height:400px;
    width:800px;
    background-color: aqua;
    /* border: 5px solid black; */
    /* flex-direction:column; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content:space-around; 
    align-content: space-between; */
    gap:20px;
}
.item{
    height:100px;
    width:100px;
    background-color:white;
    border:1px solid black;
    /* flex-grow: 1;   */
    flex: shrink 2;
}
.item2{
    order:-1;
    /* flex-grow:2; */
    align-self:flex-end;
}
