/* p{
    color:blue;
    background-color: red;
    text-align: center;
}
.p{
    color: green;
    background-color: aquamarine;
}
#jk{
    font-size: 25px;

} */
/* 1 keyvalue pair
/* 2 rgb
3 rgba
4 hsl
5 hsla
6 hexadecimal */ 
/* font size units 
1 -> em
2 -> rem
3 -> %
4 -> smaller and larger */
/* Box-model -> 
1 . Padding (b/w content and the border spacing (internal spacing))
     i -> padding (10px): all sides.
*/
/* div{

    height: 200px;
    width: 200px;
    background-color: red;
    padding:20px;
    border:1px solid black;
    margin:100px; */
/* } */
div{
    height: 200px;
    width: 200px;
    background-color: blue;
    padding: 20px;
    border:5px;
    margin: 15px;
}
#con1{
    color:red;
    margin-left: 10px;
}
#con2{
    color:brown;
    margin-right: 10px;
}
#con3{
    color:pink;
}
#con4{
    color: blueviolet;
}
.dive{
    background-color: black;
    color:white;
}
